Repository openscilab/ipspot, pull requests merged in 2025-06, with the labels that each got.

#47 Refactor
  CHANGELOG.md
  ipspot/ipv4.py
  ipspot/utils.py
Labels: refactoring

#48 Refactor
  CHANGELOG.md
  ipspot/cli.py
  ipspot/utils.py
  tests/test_utils.py
Labels: refactoring

#50 New IPv4 API `myip.la`
  CHANGELOG.md
  README.md
  ipspot/ipv4.py
  ipspot/params.py
  tests/test_ipv4.py
Labels: ipv4 api

#51 Retry
  .github/workflows/test.yml
  CHANGELOG.md
  README.md
  ipspot/cli.py
  ipspot/ipv4.py
  ipspot/utils.py
  tests/test_utils.py
Labels: enhancement

#52 Version 0.4
  .github/ISSUE_TEMPLATE/bug_report.yml
  AUTHORS.md
  CHANGELOG.md
  README.md
  SECURITY.md
  ipspot/params.py
  otherfiles/version_check.py
  setup.py
Labels: release

#58 New API `ipwho.is`
  CHANGELOG.md
  README.md
  ipspot/ipv4.py
  ipspot/params.py
  tests/test_ipv4.py
Labels: ipv4 api

#61 Minor edits
  ipspot/ipv4.py
  tests/test_ipv4.py
Labels: ipv4 api, test

#63 Public IPv6
  CHANGELOG.md
  README.md
  ipspot/__init__.py
  ipspot/cli.py
  ipspot/ipv6.py
  ipspot/params.py
  tests/test_ipv4.py
Labels: enhancement, ipv6
